<html>

<head>
  <title>Output</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <header>
    <div class="nav">
      <ul>
        <li><a href="https://analyzing-trends-app.herokuapp.com/">Home</a></li>

      </ul>
    </div>
  </header>

  <div class="header">
    <h1>Query Info</h1>
    <h4>Your query is {{processed_text}}</h4>
    <h4>Your query size is {{processed_size}}</h4>
  </div>

  <div class="nav">
    <div>
      <ul>
        <li><a href="#trends">Google Trends</a></li>
        <li><a href="#wiki">Wikipedia</a></li>
        <li><a href="#imdb">IMDb</a></li>
        <li><a href="#steam">Steam</a></li>
        <li><a href="#reddit">Reddit</a></li>
        <li><a href="#twitter">Twitter</a></li>
        <li><a href="#twitch">Twitch</a></li>
        <li><a href="#youtube">YouTube</a></li>
      </ul>
    </div>
    <div style="background-color: #303C6C; height:5px;"></div>
    <div>
      <ul>
        <li><a href="#">Cric1</a></li>
        <li><a href="#">Cric2</a></li>
        <li><a href="#">Cric3</a></li>
        <li><a href="#">Cric4</a></li>
        <li><a href="#">Cric5</a></li>
      </ul>
    </div>
  </div>
  

<a name="popculture"></a>
<div class="subheader">
  <h2>Here's how popular {{processed_text}} is around the web:</h2>
</div>

<div class="popculture">

  <a name="trends"></a>
  <br> <br>
  <section id="accordion">
    <div>
      <input type="checkbox" id="check-1" />
      <!-- id needs to be enumerated, so the one before this is check-4 and the one after is check-6 -->
      <label for="check-1">Google Trends Info</label>
      <article>

        <img src="/static/images{{location}}google{{qname}}.png?{{random}}" alt="Google Trends Graph" width="425" height="370">
        <img src="/static/images{{location}}google1{{qname}}.png?{{random}}" alt="Google Trends Graph2" width="425" height="370">
        <ul class="return">
          {{trendlinks}}
        </ul>
      </article>
    </div>
  </section>

  <a name="wiki"></a>
  <br> <br>
  <section id="accordion">
    <div>
      <input type="checkbox" id="check-2" />
      <label for="check-2">Wikipedia Info</label>
      <article>

        <img src="/static/images{{location}}wiki{{qname}}.png?{{random}}" alt="wikipedia1" width="600" height="370">
        <img src="/static/images{{location}}wiki1{{qname}}.png?{{random}}" alt="wikipedia2" width="600" height="370">
        <ul class="return">
          {{wikilinks}}
        </ul>
      </article>
    </div>
  </section>

  <a name="imdb"></a>
  <br> <br>
  <section id="accordion">
    <div>
      <input type="checkbox" id="check-3" />
      <label for="check-3">IMDb Info</label>
      <article>
        <img src="/static/images{{location}}imdb{{qname}}.png?{{random}}" alt="IMDb graph" width="600" height="500">
        <ul class="return">
          {{imdblinks}}
        </ul>
      </article>
    </div>
  </section>

  <a name="steam"></a>
  <br> <br>
  <section id="accordion">
    <div>
      <input type="checkbox" id="check-4" />
      <label for="check-4">Steam Info</label>
      <article>
        <img src="/static/images{{location}}steam{{qname}}.png?{{random}}" alt="Steam graph" width="600" height="400">

        <ul class="return">
          {{steamlinks}}
        </ul>

      </article>
    </div>
  </section>

  <a name="reddit"></a>
  <br> <br>
  <section id="accordion">
    <div>
      <input type="checkbox" id="check-5" />
      <label for="check-5">Reddit Info</label>
      <article>
        <ul class="return">
          {{redditlinks}}
        </ul>
      </article>
    </div>
  </section>

  <a name="twitter"></a>
  <br> <br>
  <section id="accordion">
    <div>
      <input type="checkbox" id="check-6" />
      <label for="check-6">Twitter Info</label>
      <article>
        <ul class="return">
          {{twitterlinks}}
        </ul>
      </article>
    </div>
  </section>

  <a name="twitch"></a>
  <br> <br>
  <section id="accordion">
    <div>
      <input type="checkbox" id="check-7" />
      <label for="check-7">Twitch Info</label>
      <article>
	<img src="/static/images{{location}}twitch{{qname}}.png?{{random}}" alt="Twitch graph" width="600" height = "400">
        <ul class="return">
	{{twitchlinks}}
        </ul>
      </article>
    </div>
  </section>

  <a name="youtube"></a>
  <br> <br>
  <section id="accordion">
    <div>
      <input type="checkbox" id="check-8" />
      <label for="check-8">YouTube Info</label>
      <article>
        <ul class="return">
          {{youlinks}}
        </ul>
      </article>
    </div>
  </section>
</div>

<br> <br>

<a name="curriculum"></a>
<div class="subheader">
  <h2>Here are the learning resources we found related to {{processed_text}}</h2>
</div>

<div class="curriculum"> 

 <a name="teach"></a>
  <br> <br>
  <section id="accordion">
    <div>
      <input type="checkbox" id="check-9" />
      <label for="check-9">Teachengineering Info</label>
      <article>
        <ul class="return">
	{{telinks}}
        </ul>
      </article>
    </div>
  </section>


 <a name="ask"></a>
  <br> <br>
  <section id="accordion">
    <div>
      <input type="checkbox" id="check-10" />
      <label for="check-10">AskDrUniverse Info</label>
      <article>
        <ul class="return">
	{{alinks}}
        </ul>
      </article>
    </div>
  </section>

  <br>

</div> 

<div class="footer">
<button onclick="location.href='https://analyzing-trends-app.herokuapp.com/'">
Main Page
</button>

</div>
</body>

</html>